# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\졸업작품\datanet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
